@import "header.css";

.container {
    display: grid;
    width: 100%;
    height: 100vh;
    margin: auto;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 120px;
    grid-template-areas: "hd hd"
    "sd main"
    "ft ft";
    grid-gap: 5px;
}

.sidebar {
    grid-area: sd;
    padding-left: 5px;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #4967ef, #79c14d);
}

.sidebar a {
    color: #4967ef;
    text-decoration-line: none;
    font-size: 13px;
}

.sidebar a:hover {
    color: #79c14d;
}

.sidebar ul {
    padding-left: 20px;
}

.main_content {
    grid-area: main;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #4967ef, #79c14d);
}

.photoBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 10px 10px;
    overflow: hidden;
}

.card_img img {
    width: 100%;
    height: 250px;
    overflow: auto;
}

.content_title h4 {
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.author {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
    font-family: Verdana, sans-serif;
    text-align: left;
    font-size: 10px;
    font-style: italic;
}

.author img {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    overflow: auto;
}

.sub_content {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    color: #353434;
}

.button a {
    color: #4967ef;
    background-color: none;
    text-decoration: none;
}

.button a:hover {
    color: #79c14d;
}

.footer {
    grid-area: ft;
    padding-top: 5px;
    background-image: linear-gradient(to right bottom, #4967ef, #79c14d);
    text-align: center;
    font-family: Montserrat, 'Segoe UI', sans-serif;
    font-size: large;
}

.footer img {
    width: 25px;
    height: 25px;
    margin-top: 20px;
}

@media (max-width: 599px) {
    .container {
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "hd"
        "sd"
        "main"
        "ft";
        grid-gap: 5px;
    }

    .photoBox {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        justify-content: center;
        align-items: flex-start;
    }

    .card {
        display: flex;
        height: auto;
        flex-direction: column;
        border: 5px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right bottom, #4967ef, #79c14d);
        align-items: center;
        padding: 10px 10px;
        overflow: hidden;
    }

    .main_content {
        grid-area: main;
        border: none;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .container {
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "hd"
        "sd"
        "main"
        "ft";
        grid-gap: 5px;
    }

    .photoBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;
        justify-content: center;
        align-items: flex-start;
    }
}
